@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default browser padding and margin */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: none;
}

/* Ensure main stretches to fill the whole screen */
main {
  height: 100%;
  width: 100%;
}
